@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

:root {
    font-weight: 400;
    font-size: 10px;
}

body, p {
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes top {
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* header navigation */

.container {
    width: 85%;
    margin: 0 auto;
}

.container_mini {
    width: 60%;
    margin: 0 auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
    animation: top 1s ease alternate none;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-collapse ul {
    font-size: 2rem;
}

.navbar-collapse span {
    font-size: 1rem;
}

.dropdown-item.active, 
.dropdown-item:active {
    background-color: #34040437;
}

.dropdown-item {
    color: #340404;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #340404;
}


/* nail */

.nail {
    background-image: url(../img/background/nail.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.nail-container {
    text-align: center;
    padding: 6rem 0 6rem 0;
}

.nail-container h1 {
    font-size: 8rem; 
}

.nail-container h2 {
    font-size: 3rem;
}

.nail-container h3 {
    margin-top: 7rem;
    font-size: 4rem;
}

.nail__wrap {
    padding: 2rem;
    font-size: 1.7rem;
}

/* footer */

.contact {
    padding-top: 5rem;
    height: 24rem;
    background-color: #39393f;
    line-height: 1.9rem;
}

.contact-us {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.8rem;
}

.contact-us a {
    text-decoration: none;
}

.contact-us div {
    width: 30%;
}

.contact-us div:first-of-type {
    display: grid;
}

.contact-us svg {
    margin-top: 3rem;
}

.contact-us div:first-of-type a {
    text-decoration: none;
    color: white;
}

.contact-us div:first-of-type a:hover {
    color: #a8a8a8;
    transition: all .3s;
}

.contact-us div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-us div p {
    font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
    .nail-container h1 {
        font-size: 4rem; 
    }
    .nail-container h2 {
        font-size: 1.5rem;
    }
    .nail-container h3 {
        margin-top: 4rem;
        font-size: 3rem;
    }
    .container_mini {
        width: 95%;
    }
    .contact {
        height: 53rem;
    }
    .contact-us {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .contact-us div {
        width: 35%;
    }
    .contact-us div:last-of-type {
        margin-top: 2rem;
        align-items: baseline;
    }
}