@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

:root {
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

body, p {
    margin: 0;
    padding: 0;
}

@keyframes top {
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* header navigation */

.container_price {
    width: 35%;
    margin: 0 auto;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.container_mini {
    width: 60%;
    margin: 0 auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
    animation: top 1s ease alternate none;
}

.header_container-logo img {
    width: 25%;
}

.header_container-logo {
    width: 40%;
}

.header_container-navigation {
    width: 60%;
    align-self: center;
}

.header_container-navigation ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.header_container-navigation span {
    font-size: 1rem;
}

.header_container-navigation li ul {
    text-align: center;
    position: absolute;
    top: 3.4rem;
    right: 34rem;
    z-index: 2;
    display: none;
}

.header_container-navigation li li {
    padding: .4rem;
    background: white;
    border-collapse: collapse;
    opacity: .9;
    transition: all .3s;
}

.header_container-navigation li:hover ul {
    display: block;
}

.header_container-navigation li li:hover {
    opacity: 1;
}

 .header_container-navigation li li:hover a {
    color: #840000;
}

.header_container-navigation a:hover {
    color: #bd3e3e;
    transition: all .3s;
}

.header_container-navigation a:active {
    color: #840000;
    transition: none;
}

.header_container-navigation a:hover path {
    stroke: #f14e4ee5;
    transition: all .3s;
}

.header_container-navigation a:active path {
    stroke: #840000;
    transition: none;
}

.header_container-navigation a {
    font-size: 2rem;
    text-decoration: none;
    color: #340404;
}

/* price */

.price {
    background-image: url(../img/background/backgr2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.price__block > p {
    font-size: 2.3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1rem 0 1rem 0;
}

.price__wrap span {
    font-size: 1.7rem;
}

.price__block {
    background-color: rgba(255, 255, 255, 0.5);
    padding: .1rem 5rem 5rem 5rem;
}

.price__block {
    font-size: 2.8rem;
    text-align: center;
}

.price__block {
    margin-bottom: 3rem;
}

.price__item span {
    font-size: 1.5rem;
}

.price__item {
    display: flex;
    justify-content: space-between;
}

.price__item p {
    font-size: 2rem;
    color: #000000c9;
}












/* footer */

.contact {
    padding-top: 5rem;
    height: 19rem;
    background-color: #39393f;
}

.contact-us {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.8rem;
}

.contact-us div {
    width: 30%;
}

.contact-us div:first-of-type {
    display: grid;
}

.contact-us svg {
    margin-top: 3rem;
}

.contact-us div:first-of-type a {
    text-decoration: none;
    color: white;
}

.contact-us div:first-of-type a:hover {
    color: #a8a8a8;
    transition: all .3s;
}

.contact-us div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-us div p {
    font-size: 1.5rem;
}

.contact-us div p:nth-child(4), .contact-us div p:nth-child(7) {
    color: rgb(191, 148, 148);
}