@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

:root {
    font-weight: 400;
    font-size: 10px;
}

body, p {
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes top {
    0% {
        transform: translateY(-3rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes text-top {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: .8;
    }
}

@keyframes text-bottom {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: .8;
    }
}

@keyframes text-left {
    0% {
        translate: -30rem;
        opacity: 0;
    }
    100% {
        translate: 0rem;
        opacity: .8;
    }
}

@keyframes text-right {
    0% {
        translate: 10rem;
        opacity: 0;
    }
    100% {
        translate: 0rem;
        opacity: .8;
    }
}

/* header navigation */

.container {
    width: 85%;
    margin: 0 auto;
}

.container_mini {
    width: 60%;
    margin: 0 auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
    animation: top 1s ease alternate none;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-collapse ul {
    font-size: 2rem;
}

.navbar-collapse span {
    font-size: 1rem;
}

.dropdown-item.active, 
.dropdown-item:active {
    background-color: #34040437;
}

.dropdown-item {
    color: #340404;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #340404;
}

/*baner*/

.baner {
    background-image: url(../img/background/hand.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.baner-info-mobile {
    display: none;
}

.baner-info h1 {
    padding-top: 7vh;
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    color: white;
    opacity: .8;
    animation: text-left 1.6s ease alternate none;
}

.baner-info p:nth-child(2) {
    padding-top: 10vh;
    font-size: 6rem;
    font-weight: 700;
    text-align: end;
    color: white;
    opacity: .8;
    animation: text-top 2s ease alternate none;
}

.baner-info p:nth-child(3) {
    padding-top:30vh;
    font-size: 8rem;
    font-weight: 700;
    text-align: end;
    color: white;
    opacity: .9;
    animation: text-bottom 2s ease alternate none;
}

/* welcome */

.welcome {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
}

.welcome h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #340404;
}

.welcome p:nth-child(2) {
    font-size: 9rem;
    font-weight: 700;
}

.welcome p {
    margin-top: 1rem;
}

.welcome_wrap_first {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

.welcome_wrap_second {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.welcome_wrap a {
    text-decoration: none;
    color: black;
}

.welcome_wrap div img {
    width: 100%;
    transition: all .3s;
} 

.welcome_wrap_first div, .welcome_wrap_second div {
    width: 24%;
    border:  1px solid #80808045;
    box-shadow: 0px 2px 4px 0px #8080808a;
}

.welcome_wrap p:first-of-type {
    margin: 2rem 0 2rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    transition: all .3s;
}

.welcome_wrap p:last-of-type {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: all .3s;
}

.welcome_wrap_first div, 
.welcome_wrap_second div {
    overflow: hidden;
    font-size: 1.5rem;
    transition: all .3s;
}

.welcome_wrap_first div:hover, 
.welcome_wrap_second div:hover {
    box-shadow: 0px 9px 10px 2px #8080808a;
}

.welcome_wrap_first div:hover p, 
.welcome_wrap_first div:hover img, 
.welcome_wrap_second div:hover p, 
.welcome_wrap_second div:hover img {
    margin: 0;
    overflow: initial;
    transform: translateY(-4.5rem);
}

/* work */

.work {
    text-align: center;
    margin-top: 10rem;
    font-size: 5rem;
    font-weight: 700;
    color: #ffffffc8;
    background-image: url(../img/background/slide2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.work-details {
    display: flex;
    margin-top: 10rem;
    padding: 0 2rem 0 2rem;
}

.work-details img {
    vertical-align: middle;
}

.work-details-wrap {
    display: flex;
    width: 70%;
}

.work-details-wrap {
    display: grid;
    justify-items: center;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.work-details-wrap p {
    font-size: 2rem;
}

.work-details-wrap p:last-of-type {
    margin-top: 2rem;
    font-size: 1.7rem;
    
}

/* gallery */

.gallery__wraper {
    width: 25%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.gallery__wrap h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}












/* footer */

.contact {
    padding-top: 5rem;
    height: 24rem;
    background-color: #39393f;
    line-height: 1.9rem;
}

.contact-us {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.8rem;
}

.contact-us a {
    text-decoration: none;
}

.contact-us div {
    width: 30%;
}

.contact-us div:first-of-type {
    display: grid;
}

.contact-us svg {
    margin-top: 3rem;
}

.contact-us div:first-of-type a {
    text-decoration: none;
    color: white;
}

.contact-us div:first-of-type a:hover {
    color: #a8a8a8;
    transition: all .3s;
}

.contact-us div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-us div p {
    font-size: 1.5rem;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width: 767px) {
    .container_mini, .container {
        width: 90%;
    }
    .header_container{
        padding: 1rem;
    }
    .header_container-navigation {
        display: none;
    }

      .baner-info {
        display: none;
      }
      .baner {
        background-position: center center;
      }
      .baner-info-mobile {
        display: inherit;
        color: white;
        text-align: center;
        font-size: 4.5rem;
        font-weight: 700;
        padding: 10rem 2rem 0 2rem;
        opacity: .9;
      }
      .welcome p:nth-child(2) {
        font-size: 6rem;
      }
      .welcome_wrap_first div,
      .welcome_wrap_second div {
        width: 90%;
      }
      .welcome_wrap_first {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
      }
      .welcome_wrap_second {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
      }
      .work {
        font-size: 3rem;
      }
      .work-details {
        flex-direction: column-reverse;
      }
      .work-details img {
        width: 90%;
      }
      .work-details-wrap {
        display: contents;
      }
      .work-details-wrap div {
        margin-bottom: 2rem;
      }
      .contact {
        height: 53rem;
      }
      .contact-us {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
      }
      .contact-us div {
        width: 35%;
      }
      .contact-us div:last-of-type {
        margin-top: 2rem;
        align-items: baseline;
      }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .container_mini, .container {
        width: 90%;
    }
    .welcome_wrap_first,
    .welcome_wrap_second {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
    .welcome_wrap_first div,
    .welcome_wrap_second div {
        width: 100%;
      }
      .work {
        font-size: 3rem;
      }
      .work-details {
        flex-direction: column-reverse;
      }
      .work-details img {
        width: 90%;
      }
      .work-details-wrap {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 90%;
        align-self: center;
      }
      .work-details-wrap div {
        margin-bottom: 2rem;
      }
}